/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font: 1.1em helvetica, arial, clean, sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #4a4a4a;
  background: #f5f5f5;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

h1 {
  margin-top: 0em;
  font-size: 300%;
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #3a3a3a;
  line-height: 1.1em;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.0em;
  margin-bottom: -0.6em;
}

p {
  margin: 1.0em 0;
}

a {
  color: #4a49dd;
  font-style: normal;
  text-decoration: none;
}

a:hover {
  color: #b5000c;
  text-decoration: underline;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#site-title {
  font-size: 2.4em;
}

#blog-title {
  font-size: 1.2em;
  font-weight:normal;
}

.about {
  font-size: 0.8em;
  text-align: left;
  width: 12em;
  float: left;
  margin-left: 1em;
  margin-right: 0.5em;
  margin-top: 1em;
  line-height: 1.3em;
}

.nav {
  margin-bottom: 1em;
}

.nav-list a {
  vertical-align: top;
}

.nav a:visited {
  color: #00a;
}

.nav a:hover {
  color: #00a;
}

.about ul {
  list-style: none;
}

.date {
  font-size: 0.8em;
  color: #666;
  font-style: italic;
}

.site {
  font-size: 110%;
  text-align: left;
  width: 800px;
  line-height: 1.3em;
  float: left;
  position: absolute;
  left: 11em;
  padding-top:2em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #aaa;
    border-top: 2px solid #eee;
    margin-top: 2em;
    padding-top: 1em;
    line-height: 1.3em;
    overflow: hidden;
    bottom:0px;
    padding-bottom:1em;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer a {
        color: #bbb;
      }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

.site .theory {
  color: #d5000d;
  display:inline-block;
  width: 1em;
  text-align: center;
}

.site .technique {
  color: blue;
  display:inline-block;
  width: 1em;
  text-align: center;
}

.site .analysis {
  color: #00FF00;
  display:inline-block;
  width: 1em;
  text-align: center;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    background-color: #fafafa;
    border: 2px solid #ccc;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post li {
    margin-top: 0.5em;
  }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

  #post blockquote {
    margin-left: 2em;
    border-left: 5px solid #ddd;
    padding-left: 1em;
    font-style: italic;
  }

  #post blockquote p {
    margin-bottom: 0;
  }

  #post blockquote div.attribution {
    margin-left: 2em;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

acronym {
  font-variant: small-caps;
  text-transform: lowercase;
}

sup {
  line-height: 0;
}
