<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Alex Clemmer" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Alex Clemmer" />

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19652507-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

<script>
  MathJax.Hub.Config({
    tex2jax: {
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
  });
  MathJax.Hub.Queue(function() {
      var all = MathJax.Hub.getAllJax(), i;
      for(i=0; i < all.length; i += 1) {
          all[i].SourceElement().parentNode.className += ' has-jax';
      }
  });
</script>



  <noscript>
    <h2 style="border-style: solid; padding:5px; color:red;">Hey there! I see you're not using JavaScript. Just FYI, I use <a href="http://www.mathjax.org/" style="color:blue;">MathJax</a> to display things that deserve to look like math.</h2>
  </noscript>
</head>
<body>

<div class="about">
  <img alt="Alex" src="images/alex3.jpg" height="150" width="150"/>
  <p></p>
  <h1 id="site-title">Computer "scientist"</h1>
  <p>Hi there, my name is Alex Clemmer, and this is a blog about the stuff that has not quite gotten me fired yet.</p>
  <ul class="nav-list">
    <li><img alt="Twitter" src="images/twitter.png" /> <a href="https://twitter.com/hausdorff_space" target="_new">@hausdorff_space</a></li>
    <li><img alt="GitHub" src="images/github.png" /> <a href="https://github.com/hausdorff" target="_new">github.com/hausdorff</a></li>
    <li><img alt="Hacker News" src="images/hn.png" /> <a href="https://news.ycombinator.com/user?id=antics" target="_new">antics</a></li>
  </ul>
</div>

<div class="site">

  {{ content }}

  <div class="footer">
    <div>(c) 2013 Alex Clemmer. <a href="https://github.com/hausdorff/hausdorff.github.com" target="_new">Released</a> under the MIT license.
    <div>Forked from: <a href="https://github.com/davidbalbert/davidbalbert.github.com" target="_new">davidalbert.github.com</a></div>
    <div xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" about="http://www.komodomedia.com/blog/2008/12/social-media-mini-iconpack/"><span property="dct:title">Social Network Icon Pack</span> (<a rel="cc:attributionURL" property="cc:attributionName" href="http://www.komodomedia.com/blog/2008/12/social-media-mini-iconpack/" target="_new">Komodo Media, Rogie King</a>), Social Media Icons (<a href="http://paulrobertlloyd.com/2009/06/social_media_icons" target="_new">Paul Robert Lloyd</a>) </div>
  </div>
</div>

</body>
</html>
